* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

#root {
	width: 100vw;
	max-width: 100%;
	display: flex;
	scroll-behavior: smooth;
	min-height: 100vh;
	height: auto;
	flex-direction: column;
	position: relative;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 5px;
}
